.blue-dr-1{
    background-color: $blue-dr-1;
}

.green-lt-1{
    background-color: $green-lt-1;
}

.white-text{
    color: white;
}

.black-text{
    color: $black;
}

.red{
    background-color: $red;
}