.home{
    display: grid;
    row-gap: 5rem;
}

.landing{
    height: 95vh;
    display: grid;
    place-items: center;
    background-color: $blue-dr-1;
    color: white;
    div{
        @include compact;
        display: grid;
        place-items: center;
        grid-gap: 3rem;
    }
    button{
        margin-top: 2rem;
    }
    h1{
        text-align: center;
    }
}

.portfolio{
    display: grid;
    row-gap: 1.5rem;
    @include compact;
    h1{
        font-weight: $extra-bold;
    }
    .portfolio__header{
        margin-bottom: 3rem;
    }
}

.skills{
    background-color: $blue-dr-1;
    padding-bottom: 5rem;
    h1{
        font-weight: $extra-bold;
        color: white;
    }
    .skills__header{
        @include compact;
        padding-top: 5rem;
        padding-bottom: 3rem;
        margin-bottom: 3rem;
    }
    .skills__content{
        @include compact;
        padding-bottom: 5rem;
        display: grid;
        grid-auto-flow: column;
        column-gap: 6rem;
        overflow-y: auto;
    }
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        //-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.877); 
        border-radius: 7px;
        background-color: $blue-dr-2;
    }     
    ::-webkit-scrollbar-thumb {
        border-radius: 7px;
        // -webkit-box-shadow: inset 0 0 6px rgba(63, 43, 136, 0.5);
        background-color: rgba(193, 170, 255, 0.26);
        &:hover{
            background-color: rgba(193, 170, 255, 0.466);
        }
    }
}

.videos{
    @include compact;
    h1{
        font-weight: $extra-bold;
    }
    .videos__header{        
        padding-bottom: 3rem;
        margin-bottom: 3rem;
    }
    .videos__content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 2rem;
        iframe{
            width: 400px;
            height: 215px;
        }
    }
    .videos__subscribe{
        margin-top: 5rem;
        display: grid;
        place-items: center;
        row-gap: 2rem;
    }
}

.contact{
    background-color: $blue-dr-1;
    padding-bottom: 5rem;
    h1{
        font-weight: $extra-bold;
        color: white;
    }
    .contact__header{
        @include compact;
        padding-top: 5rem;
        padding-bottom: 3rem;
        margin-bottom: 3rem;
        text-align: center;
    }
    form{
        @include compact;
        display: grid;
        place-items: center;
        div{
            width: 50%;
        }
        input, textarea {
            width: 100%;
        }
        label{
            color: white;
        }
    }
}

@media (max-width: 1500px){
    .videos{
        .videos__content{
            grid-template-columns: 1fr 1fr;
            iframe{
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 1000px){
    .videos{
        .videos__content{
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }
    .contact{
        form{
            div{
                width: 90%;
            }
        }
    }
}