.home{
    display: grid;
    row-gap: 8rem;
    margin-bottom: 5rem;
}

.landing{
    height: 95vh;
    display: grid;
    place-items: center;
    background-color: $blue-dr-1;
    color: white;
    div{
        @include compact;
        display: grid;
        place-items: center;
        grid-gap: 3rem;
    }
    button{
        margin-top: 2rem;
    }
    h1{
        text-align: center;
    }
}

.portfolio{
    display: grid;
    row-gap: 2rem;
    @include compact;
    h1{
        font-weight: $extra-bold;
    }
    .portfolio__header{
        margin-bottom: 3rem;
    }
}

.skills{
    background-color: $blue-dr-1;
    padding-bottom: 5rem;
    h1{
        font-weight: $extra-bold;
        color: white;
    }
    .skills__header{
        @include compact;
        padding-top: 5rem;
        padding-bottom: 3rem;
        margin-bottom: 3rem;
    }
    .skills__content{
        @include compact;
        padding-bottom: 5rem;
        display: grid;
        grid-auto-flow: column;
        column-gap: 6rem;
        overflow-y: auto;
    }
}