.showcase{
    @include compact;
    h2{
        margin-bottom: 1rem;
    }
}

.showcase__content{
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    .showcase__content-details{
        max-width: 650px;
        display: grid;
        row-gap: 2rem;
        p{
            margin-top: 1rem;
            margin-bottom: 0rem;
            line-height: 2.5rem;
        }
    }
    .showcase__content-video{
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}