/* Typography */

$showcase-heading: 4rem;
$showcase-heading-2: 3.5rem;

$heading-main: 2.5rem;
$heading-main-2: 2rem;

$heading-section: 1.8rem;

$content-main: 1.6rem;
$content: 1.4rem;

$extra-bold: 900;
$bold: 700;
$semi-bold: 600;

/* Colors */
$black: #0F0E0E;

$blue-dr-1: #072650;
$blue-dr-2: #061B37;

$red: #D12828;

$green: #02856F;
$green-lt-1: #07FFC5;

$grey-lt-1: #E1E1E1;
$grey-lt-2: #ebebeb;