/* Typography */

$showcase-heading: 4.5rem;
$showcase-heading-2: 3.5rem;

$heading-main: 2.5rem;
$heading-main-2: 2rem;

$heading-section: 1.8rem;

$content-main: 1.6rem;
$content: 1.4rem;

$extra-bold: 900;
$bold: 700;
$semi-bold: 600;